{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Buku</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    .tabel {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    $(document).ready(function() {
    $("#input").on("keyup", function() {
        var q = $("#input").val();
        $.ajax({
            url: "/data?q=" + q,
            success: function(data) {
                $('#isi').html('')
                var result = '<tr>';
                for (var i = 0; i < data.items.length; i++) {
                    result += '<tr > <th scope="row" class=" align-middle">' + (i + 1) + "</th>" +
                        "<td><img class='img-fluid' style='width:22vh' src='" +
                        data.items[i].volumeInfo.imageLinks.smallThumbnail + "'></img>" + "</td>" +
                        "<td class='align-middle'>" + data.items[i].volumeInfo.title + "</td>" +
                        "<td class='align-middle'>" + data.items[i].volumeInfo.authors + "</td>" +
                        "<td class='align-middle'>" + data.items[i].volumeInfo.publisher + "</td>" 
                }
                $('#isi').append(result);
            },
        })
    });
});
</script>
{% endblock meta %}


{% block content %}


<div class="container-fluid">
    <br>
  <h3 style="text-align: center;"> List Buku </h3><br>
  {% if user.is_authenticated %}
  <input type="text" id="input" placeholder="Masukkan judul" style="float: left; border-radius: 5px;">
  <br><br>
  <div class="tabel">
      <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col" class="align-middle">No</th>
                <th scope="col" class="align-middle">Cover</th>
                <th scope="col" class="align-middle">Judul</th>
                <th scope="col" class="align-middle">Penulis</th>
                <th scope="col" class="align-middle">Penerbit</th>
            </tr>
        </thead>
        <tbody id="isi"></tbody>
    </table>
  </div>
  {% else %}
  <p style="text-align: center;">login untuk mengakses isi website!</p>
  {% endif %} 
    


    
</div>




{% endblock content %}



  




