.row {
	margin: 0;
}

nav.navbar {
	background-color: rgb(185, 221, 255) !important;
	font-family: 'Open Sans', sans-serif;
	padding-right: 40px;
	padding-left: 40px;
	box-shadow: 0px 5px #eee;
}

.navbar-brand img {
	width: 50px;
}


nav a {
	color: black !important;
	font-size: 13px;
	font-weight: 600;
}


.container-home {
	padding: 2%;
	text-align: center;
}

.title-home {
	font-family: inherit;
	font-weight: 700;
	color: #333333;
	font-size: 30px;
}

p {
  font-family: inherit;
  font-weight: 400;
  color: black;
  font-size: 15px;
  word-break: normal;
}

footer {
	margin-top: 50px;
	padding: 20px 0px;
	/*background-color: #99002e;*/
	background-color: rgba(185, 221, 255, 0.555) ;
	color: white;
	position: relative;
  bottom: 0;
  text-align: center;
}

.jumbotron{
  background-color: lightsteelblue;
  font-family: 'Open Sans', sans-serif;
}

