{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halaman {{nama}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    #kotak{
        margin: auto;
        background-color:rgba(173, 216, 230, 0.445);
        padding: 20px;
        border-radius: 10px;
    }
</style>
</head>

<body>
    <div class ="container-fluid">      
    {% if user.is_authenticated %}
    <br><br>
        <div class="jumbotron" >
            <h1 class="display-4">Hello {{user.username}}!</h1>
            <p class="lead">Selamat datang di website!</p>
            <hr class="my-4" >
            <p>Click button untuk menuju halaman selanjutnya!</p>
            <a class="btn btn-secondary btn-sm" href="/buku" role="button">List Buku</a>
          </div>
    {% else %}
    {% for message in messages %}

    <div class="alert alert-success">
        <a class="close" href="/" data-dismiss="alert"></a>
        {{ message }}
    </div>
    {% endfor %}

    <h1 style= "text-align: center;">Selamat Datang!</h1>
    <h4 style= "text-align: center;">Silahkan {{nama}} ke website</h4>
    <br>
    <div class="row" style="margin: auto; ">
        <div class="col-md-4 col-md-offset-4" id="kotak" >
            <div class='form-group'>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-secondary" value="Submit" id="submit">
                    
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    
    </div>
</body>

</html>
