{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Pengalaman</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/script.js' %}"></script>
  
{% endblock meta %}


{% block content %}

<br><h3 style= "text-align: center;"> List Pengalaman</h3>	
<div class="container-home">
  {% if user.is_authenticated %}
  <div class="accordion" id="satu">
    
    <h3 style= "text-align: start;">
      <button type="button" class="btn btn-outline-info" onclick="moveUp($('#satu'))" >^</button>
      <button type="button" class="btn btn-outline-info" onclick="moveDown($('#satu'))">v</button>
      Aktivitas Saat ini
    </h3>
    <div >
      <li>Mahasiswa di Universitas Indonesia</li>
      <li>Panitia PMB Fasilkom UI 2020</li>
    </div>
  </div>

  <div class="accordion" id="dua">
    <h3 style= "text-align: start;"> 
    <button type="button" class="btn btn-outline-info" onclick="moveUp($('#dua'))">^</button>
    <button type="button" class="btn btn-outline-info" onclick="moveDown($('#dua'))">v</button>
    Pengalaman Kepanitiaan
    </h3>
    <div>
      <li>FEC UI 2020</li>
      <li>PMB Fasilkom UI 2020</li>
    </div>
  </div>

  <div class="accordion" id="tiga">
    <h3 style= "text-align: start;">
    <button type="button" class="btn btn-outline-info" onclick="moveUp($('#tiga'))">^</button>
    <button type="button" class="btn btn-outline-info" onclick="moveDown($('#tiga'))">v</button>
    Pengalaman Organisasi
    </h3>
    <div>
      <li>Saman SMAN 2 Tangerang</li>
      <li>English Club SMAN 2</li>
    </div>
  </div>

  <div class="accordion" id="empat">
    <h3 style= "text-align: start;"> 
    <button type="button" class="btn btn-outline-info" onclick="moveUp($('#empat'))">^</button>
    <button type="button" class="btn btn-outline-info" onclick="moveDown($('#empat'))">v</button>
    Prestasi
  </h3>
    <div>
      <li>Juara 1 lomba saman se-jabodetabek</li>
      <li>UN Bahasa Indonesia tertinggi</li>
    </div>
    {% else %}
    <p> Login untuk mengakses isi website!</p>
    {% endif %}
  </div>
    
    
    




    

    
  
  


</div>




{% endblock content %}



  




