{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      {% block meta %}
      {% endblock meta %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/">Home</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
			
			  
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
					  <a class="nav-item nav-link mr-5" href="/pengalaman">List Pengalaman</a>
					</div>
					<div class="navbar-nav ml-auto">
						<a class="nav-item nav-link mr-5" href="/buku">List Buku</a>
					</div>
					
			{% if user.is_authenticated %}
				<div class="navbar-nav ml-auto">
				<a class="nav-item nav-link mr-5" href="/logout"> Logout </a>
				</div>
			{% else %}
				<div class="navbar-nav ml-auto">
					<a class="nav-item nav-link mr-5" href="/signup">Sign Up</a>
				</div>
				<div class="navbar-nav ml-auto">
					<a class="nav-item nav-link mr-5" href="/login"> Login </a>
					</div>

			{% endif %}
		  </div>
		  
		</nav>

    {% block content %}
    {% endblock content %}	

	</body>
	<footer>
    <p>Made by Shafira Azzahra for PPW 2020</p>
  </footer>
</html>
