{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Welcome!</title>
{% endblock meta %}



{% block content %}
	<div class="container-home">	
    <div class="jumbotron" >
      
      <h1 class="display-4">Hello {{user.username}}!</h1>
      <p class="lead">Selamat datang di website!</p>
      <hr class="my-4" >
      {% if user.is_authenticated %}
      <p>Click button untuk menuju halaman selanjutnya!</p>
      <a class="btn btn-secondary btn-sm" href="/pengalaman" role="button">List Pengalaman</a>
      {% else %}
      <p> Login untuk mengakses isi website!</p>
    </div>
    {% endif %}
</div>
{% endblock content %}

